.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.data-table th {
  background-color: #e6a15a;
  color: white;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  color: #e6a15a;
  cursor: pointer;
}

.edit-button:hover {
  color: #d08c45;
}

.delete-button:hover {
  color: #a94442;
}
