main {
    padding: 20px;
    flex: 1; /* Ocupa todo el espacio restante entre el encabezado y el pie de página */
}

.recipe-detail {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-detail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipe-detail h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-detail p {
    font-size: 16px;
    margin: 5px 0;
}

.recipe-detail h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.containerRecetas {
    display: flex;
}
#mensaje-calificacion {
    position: fixed; /* Fija el mensaje en la pantalla */
    top: 10px; /* Espaciado desde la parte superior */
    left: 50%; /* Posiciona horizontalmente al 50% */
    transform: translateX(-50%); /* Centra horizontalmente */
    padding: 15px;
    background-color: #f8e8d8;
    border: 2px solid #d6b8a9;
    border-radius: 10px;
    color: #6b4f33;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Para que quede encima */
}